body {
    margin: 0px;
    background-color: ivory;
    overflow: hidden;
}

#paneContainer {
    width: 100wh;
    height: 100vh;
    display: flex;
}

#inputPane {
    width: 50%;
    float: left;
    margin: 10px;
    display: flex;
    flex-flow: column;
}

#outputPane {
    float: left;
    width: 50%;
    margin: 10px;
    display: flex;
    background-color: white;
    border-radius: 3px;
}

#buttonContainer {
    flex: 0 1 auto;
}

#genomeSelect {
    float: left;
}

#operationSelect {
    float: right;
}

#textContainer {
    margin: 0px 0px 0px 0px;
    flex: 1;
}

#inputPane textarea {
    resize: none;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    background-color: #ceffbf;
    border-color: #2fd637;
    border-size: 2px;
}

.outputContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid #0e2b06;
    float: left;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

#alertBox {
    padding: 10px;
    position: absolute;
    right: 0;
    left: 50%;
    margin: 10px 20px 0px 20px;
    background-color: pink;
}

#genomeSelect div {
    display: inline-block;
    cursor: default;
    padding: 0px 10px 0px 10px;
    font-size: 1.5em;
    border-radius: 3px 3px 0 0;
    border: 1px solid #0e2b06;
    border-bottom-style: none;
    user-select: none;
    background-color: #0e2b06;
    color: #a0ffa5;
    font-family: "Cambria Math", "Trebuchet MS", Tahoma, "Fira Sans", sans-serif;
}

#operationSelect button {
    font-size: 1em;
    font-family: "Cambria Math";
}

#operationSelect :nth-child(4) {
    color: red;
}

#helpContainer {
    overflow-y: scroll;
    box-sizing: border-box;
    position: absolute;
    right: -50%;
    padding-left: 10px;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #0e2b06;
}

#helpContent {
    background-color: #ceffbf;
    padding: 30px 30px 30px 10px;
}

#loadExample {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.arg1 { 
    color: #1978D4;
}

.arg2 {
    color: #1D781D;
}

.arg3 {
    color: #8B008B;
}

.argDetail {
    margin-left: 50px;
}

#helpContainer h1 {
    margin-top: 0;
}